* {
    font-family : "Trebuchet MS", sans-serif;
    color : #424242;
}
body {
    margin:0px;
}
body > header {
    position: absolute;
    background-color: #FFF;
    top: 5px;
    width: 200px;
    border-right : 1px solid #828282;
    margin : 10px;
    padding : 10px;
    font-size: 80%;
}

body > footer {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top : 1px solid #828282;
    margin-left: 230px;
    padding : 10px;
    font-size: 50%;
    font-style: italic;
    z-index: -1;
}
article {
    margin-left: 240px;
    background-color: #FFF;
}
article.news {
    float: right;
}
#access {
    background-color: 
    #464646;
    z-index: -1;
    height: 40px;
}
#site-logo {
    background-image : url('img/titellus_logo.png');
    height : 174px;
    width : 200px;
    background-repeat : no-repeat;
    background-position : 0px 20px;
}
.business-card {
    width : 200px;
}
.icon {
    min-height : 32px;
    min-width : 32px;
    margin : 2px;
    padding-left: 38px;
}
.icon-mail {
    background-image : url('img/mail.png');
    background-repeat : no-repeat;
}
.icon-viewpoint {
    background-image : url('img/viewpoint.png');
    background-repeat : no-repeat;
}
.icon-book {
    background-image : url('img/book.png');
    background-repeat : no-repeat;
}
.icon-earth {
    background-image : url('img/earth.png');
    background-repeat : no-repeat;
}
.icon-workwith {
    background-image : url('img/workwith.png');
    background-repeat : no-repeat;
}
.icon-mobile {
    background-image : url('img/mobile.png');
    background-repeat : no-repeat;
}
.icon-member {
    background-image : url('img/user.png');
    background-repeat : no-repeat;
}
.icon-phone {
    background-image : url('img/phone.png');
    background-repeat : no-repeat;
}
